[mysqld]
# 低内存环境优化（2G 服务器）
innodb_buffer_pool_size=256M
innodb_log_file_size=64M
innodb_flush_method=O_DIRECT
max_connections=100
thread_cache_size=16
query_cache_type=0
performance_schema=off

# 字符集
character-set-server=utf8mb4
collation-server=utf8mb4_0900_ai_ci
log_bin_trust_function_creators=1